.*.swp
.*.swo
*.pyo 
__pycache__

.DS_Store

.vscode 
!.vscode/settings.json


tmp
build
roadmap
debug.txt
groundtruth.txt
kitti
map.json
config.pyc 

thirdparty/opencv-python
thirdparty/opencv
thirdparty/open3d
thirdparty/gtsam
thirdparty/gtsam_factors/lib
thirdparty/contextdesc/pretrained 
thirdparty/pydbow3/ORBvoc.txt
thirdparty/protoc 
thirdparty/g2opy/.cache
thirdparty/pydbow2/.cache
thirdparty/pydbow2/modules/dbow2/.cache
thirdparty/pydbow3/.cache
thirdparty/pydbow3/modules/dbow3/.cache
thirdparty/lietorch/.cache

matches.txt 
map.png
.project
data/videos/webcam

kf_info.log 
local_mapping.log 
loop_closing.log
loop_detecting.log
gba.log
matcher.log
mplot_thread.log
tum_association_matches.txt 
kitti_trajectory.txt
map.json

data/ORBvoc.txt
data/ORBvoc.dbow2
data/ORBvoc.dbow3
data/orbvoc.dbow3
data/ORBvoc_test.txt 
data/VLADvoc_orb.txt
data/images/GardensPoint
data/images/StLucia_small
data/images/SFU
data/orb_descriptors_kitti.npy
data/slam_state
data/kitti_trajectory.txt
data/skyseg.onnx

leftover/
results/

cpp/test_opencv_casters/build
cpp/test_opencv_casters/lib

pyslam/slam/cpp/build
pyslam/slam/cpp/build_simple
pyslam/slam/cpp/lib
pyslam/slam/cpp/.cache

cpp/opencv_type_casters_old.h

logs/*.log

cpp/lib/

.env
.env.bak

constraints.txt

pyslam.egg-info
gmon.out