.*.swp
.*.swo
*.pyo 
__pycache__

.DS_Store

.vscode 
!.vscode/settings.json

tmp
build
debug.txt
groundtruth.txt
kitti
map.json
config.pyc 
thirdparty/opencv-python
thirdparty/opencv
thirdparty/open3d
thirdparty/gtsam
thirdparty/gtsam_factors/lib
thirdparty/contextdesc/pretrained 
matches.txt 
map.png
.project
data/videos/webcam

kf_info.log 
local_mapping.log 
loop_closing.log
loop_detecting.log
gba.log
matcher.log
mplot_thread.log
tum_association_matches.txt 
kitti_trajectory.txt
map.json

data/ORBvoc.txt
data/ORBvoc.dbow2
data/ORBvoc.dbow3
data/orbvoc.dbow3
data/ORBvoc_test.txt 
data/VLADvoc_orb.txt
data/images/GardensPoint
data/images/StLucia_small
data/images/SFU
data/orb_descriptors_kitti.npy
data/slam_state
data/kitti_trajectory.txt
data/skyseg.onnx

leftover/
results/

thirdparty/pydbow3/ORBvoc.txt

thirdparty/protoc 

logs/*.log

cpp/lib/

.env
.env.bak

constraints.txt

pyslam.egg-info