.*.swp
.*.swo
*.pyo 
__pycache__
tmp
build
debug.txt
kitti
map.json
config.pyc 
thirdparty/g2opy
thirdparty/pangolin
thirdparty/contextdesc/pretrained 
matches.txt 
map.png
.vscode 
.project
videos/webcam

kf_info.log 
local_mapping.log 
tum_association_matches.txt 

thirdparty/protoc 