DATASET:
  # select your dataset (decomment only one of the following lines) 
  #type: EUROC_DATASET  
  #type: KITTI_DATASET
  #type: TUM_DATASET
  #type: ICL_NUIM_DATASET
  #type: REPLICA_DATASET
  #type: TARTANAIR_DATASET
  #type: SEVEN_SCENES_DATASET
  #type: NEURAL_RGBD_DATASET
  #type: BONN_RGBD_DYNAMIC_DATASET
  #type: ROVER_DATASET  
  type: VIDEO_DATASET
  #type: SCANNET_DATASET
  #type: ROS1BAG_DATASET
  #type: ROS2BAG_DATASET
  #type: MCAP_DATASET
  #type: FOLDER_DATASET
  #type: LIVE_DATASET  # Not recommended for current development stage


KITTI_DATASET:
  type: kitti
  sensor_type: stereo # Here, 'sensor_type' can be 'mono' or 'stereo'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/kitti_color/dataset
  #
  # name: '06'
  # settings: settings/KITTI04-12.yaml # do not forget to correctly set the corresponding camera settings file 
  #
  name: '00'
  settings: settings/KITTI00-02.yaml # do not forget to correctly set the corresponding camera settings file 
  #
  is_color: True # do you have the color images for the kitti dataset? (image2 and image3 folders)
  groundtruth_file: auto


TUM_DATASET:
  type: tum
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/tum
  #
  name: rgbd_dataset_freiburg3_long_office_household
  settings: settings/TUM3.yaml # do not forget to correctly set the corresponding camera settings file    
  #
  #name: rgbd_dataset_freiburg1_xyz 
  #settings: settings/TUM1.yaml # do not forget to correctly set the corresponding camera settings file
  #
  #name: rgbd_dataset_freiburg2_desk
  #settings: settings/TUM2.yaml # do not forget to correctly set the corresponding camera settings file
  #
  #name: rgbd_dataset_freiburg1_desk
  #settings: settings/TUM1.yaml # do not forget to correctly set the corresponding camera settings file  
  #
  #name: rgbd_dataset_freiburg1_room  # do not use this for mono, there are some in-place rotations during exploratory phases
  #settings: settings/TUM1.yaml # do not forget to set the corresponding camera settings file 
  #
  associations: associations.txt
  groundtruth_file: auto


ICL_NUIM_DATASET:
  type: icl_nuim         
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/icl_nuim
  #
  name: living_room_traj0_frei_png
  #name: living_room_traj0n_frei_png
  settings: settings/ICL_NUIM.yaml # do not forget to set the corresponding camera settings file   
  #
  name: traj1_frei_png
  #settings: settings/ICL_NUIM.yaml # do not forget to set the corresponding camera settings file 
  #
  associations: associations.txt
  groundtruth_file: auto


EUROC_DATASET:
  type: euroc
  sensor_type: stereo # Here, sensor_type can be 'mono' or 'stereo'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/euroc
  # NOTE: The name is supposed to be one of the following: MH01, MH02, MH03, MH04, MH05, V101, V102, V103, V201, V202, V203
  #name: MH01
  #name: MH02  
  #name: MH03
  #name: MH04
  #name: MH05       
  #name: V101  
  name: V102
  #name: V202
  #name: V203   
  # 'settings' will be used when sensor_type: : 'mono'
  settings: settings/EuRoC_mono.yaml
  # 'settings_stereo' will be used when sensor_type: 'stereo' (if available)
  settings_stereo: settings/EuRoC_stereo.yaml
  associations: auto
  groundtruth_file: auto
  start_frame_id: 0


REPLICA_DATASET:
  type: replica
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/replica
  name: 'office0'
  settings: settings/REPLICA.yaml 
  groundtruth_file: auto


SCANNET_DATASET:
  type: scannet
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/scannet
  name: 'scene0000_00'
  settings: settings/SCANNET.yaml # do not forget to set the corresponding camera settings file 
  groundtruth_file: auto
  label_version: nyu40 # Label version: 'nyu40' (default) or 'scannet' (requires mapping to nyu40)


TARTANAIR_DATASET:
  type: tartanair
  sensor_type: stereo # Here, 'sensor_type' can be 'mono', 'stereo' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/tartanair/abandonedfactory_sample_P001
  name: 'P001'
  settings: settings/TARTANAIR.yaml 
  groundtruth_file: auto
  environment_type: outdoor


SEVEN_SCENES_DATASET:
  type: seven_scenes
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/7scenes
  name: 'redkitchen'  # chess, office, redkitchen, bedroom, fireplace, conference, livingroom, playroom
  settings: settings/SEVEN_SCENES.yaml
  groundtruth_file: auto


NEURAL_RGBD_DATASET:
  type: neural_rgbd
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/neural_RGBD/neural_rgbd_data
  name: 'complete_kitchen'  
  settings: settings/NEURAL_RGBD.yaml
  groundtruth_file: auto


BONN_RGBD_DYNAMIC_DATASET:
  type: tum
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/bonn_dynamic_rgbd
  #
  name: 'rgbd_bonn_balloon'
  settings: settings/BONN_RGBD_DYNAMIC.yaml
  #
  associations: associations.txt
  groundtruth_file: auto


ROVER_DATASET:
  type: rover
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono' or 'rgbd'
  base_path: /home/luigi/Work/datasets/rgbd_datasets/rover
  camera_name: realsense_D435i  # name of the camera folder in the base_path/name folder
  #
  #name: 'garden_large_2023-08-18/2023-08-18'
  #name: 'garden_small_2023-08-18/2023-08-18'
  name: 'campus_small_2023-11-23/2023-11-23'
  settings: settings/ROVER_d435i.yaml
  #
  associations: associations.txt
  groundtruth_file: auto
  environment_type: outdoor


VIDEO_DATASET:
  type: video
  sensor_type: mono   # Here, 'sensor_type' can be only 'mono' 
  #
  # base_path: ./data/videos/kitti00
  # settings: settings/KITTI00-02.yaml
  # name: video.mp4
  #
  base_path: ./data/videos/kitti06
  settings: settings/KITTI04-12.yaml
  name: video_color.mp4
  #
  #base_path: ./data/videos/webcam
  #settings: settings/WEBCAM.yaml 
  #name: video.mp4
  #
  groundtruth_file: groundtruth.txt
  timestamps: times.txt # to be intended as the frame timestamps


FOLDER_DATASET:
  type: folder 
  sensor_type: mono   # Here, 'sensor_type' can be only 'mono' 
  base_path: /home/luigi/Work/rgbd_datasets2/kitti/dataset/sequences/00/image_0/
  # 'name' is used for specifying a glob pattern, e.g. *png, *jpeg, etc...
  name: '*png'  
  settings: settings/KITTI00-02.yaml
  groundtruth_file: groundtruth.txt
  fps: 20
  #timestamps: times.txt # can be used here and to be intended as the frame timestamps 


ROS1BAG_DATASET:
  type: ros1bag 
  #
  #
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono', 'stereo', or 'rgbd' depending on the ros1bag content  
  base_path: /home/luigi/Work/datasets/rgbd_datasets/tum/rgbd_dataset_freiburg1_room    # path of the folder containing the bag
  name: rgbd_dataset_freiburg1_room.bag                                                 # file name of the bag
  settings: settings/TUM1.yaml                  # do not forget to correctly set the corresponding camera settings file
  ros_settings:
    sync_queue_size: 100                                # for syncing the messages with the ApproximateTimeSynchronizer
    sync_slop: 0.05                                     # in seconds: delay with which messages can be synchronized
    depth_factor: 1.0                                # (optional) scale factor for depth images if available, normally managed by camera settings
    convert_color_rgb2bgr: False                        # (optional) convert RGB to BGR for color images
    topics: 
      color_image: '/camera/rgb/image_color'       # left color image
      #right_color_image: '/camera/rgb/image_left' # used for stereo datasets
      depth_image: '/camera/depth/image'           # used for rgbd datasets
      #camera_info: '/camera/rgb/camera_info'      # TODO: override camera settings if available
  groundtruth_file: /home/luigi/Work/datasets/rgbd_datasets/tum/rgbd_dataset_freiburg1_room/simple_groundtruth.txt
  environment_type: indoor  # Here, 'environment_type' can be 'indoor' or 'outdoor'         
  #
  #
  # sensor_type: stereo # Here, 'sensor_type' can be 'mono', 'stereo', or 'rgbd' depending on the ros1bag content 
  # base_path: /home/luigi/Work/datasets/rgbd_datasets/euroc   # path of the folder containing the bag
  # name: V1_01_easy.bag                                                  # file name of the bag
  # settings: settings/EuRoC_mono.yaml
  # # 'settings_stereo' will be used when sensor_type: 'stereo' (if available)
  # settings_stereo: settings/EuRoC_stereo.yaml
  # ros_settings:
  #   sync_queue_size: 100                                # for syncing the messages with the ApproximateTimeSynchronizer
  #   sync_slop: 0.05                                     # in seconds: delay with which messages can be synchronized
  #   #depth_factor: 5000.0                               # (optional) scale factor for depth images if available
  #   topics: 
  #     color_image: '/cam0/image_raw'       # left color image
  #     right_color_image: '/cam1/image_raw'  # used for stereo datasets
  #     #depth_image: '/camera/depth/image'          # used for rgbd datasets
  #     #camera_info: '/camera/rgb/camera_info'      # TODO: override camera settings if available  
  # groundtruth_file: /home/luigi/Work/datasets/rgbd_datasets/euroc/V101/simple_groundtruth.txt
  # environment_type: indoor  # Here, 'environment_type' can be 'indoor' or 'outdoor'   
  #
  #
  fps: 30                                          # desired rate of the dataset


ROS2BAG_DATASET:
  type: ros2bag 
  #
  #
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono', 'stereo', or 'rgbd' depending on the ros1bag content  
  base_path: /home/luigi/Work/datasets/rgbd_datasets/tum/rgbd_dataset_freiburg1_room/    # path of the folder containing the bag
  name: rgbd_dataset_freiburg1_room.ros2.bag                                             # file name of the bag
  settings: settings/TUM1.yaml                  # do not forget to correctly set the corresponding camera settings file
  ros_settings:
    sync_queue_size: 100                                # for syncing the messages with the ApproximateTimeSynchronizer
    sync_slop: 0.05                                     # in seconds: delay with which messages can be synchronized
    depth_factor: 1.0                                   # (optional) scale factor for depth images if available, normally managed by camera settings
    convert_color_rgb2bgr: False                        # (optional) convert RGB to BGR for color images
    topics: 
      color_image: '/camera/rgb/image_color'       # left color image
      #right_color_image: '/camera/rgb/image_left' # used for stereo datasets
      depth_image: '/camera/depth/image'           # used for rgbd datasets
      #camera_info: '/camera/rgb/camera_info'      # TODO: override camera settings if available
  groundtruth_file: /home/luigi/Work/datasets/rgbd_datasets/tum/rgbd_dataset_freiburg1_room/simple_groundtruth.txt
  environment_type: indoor  # Here, 'environment_type' can be 'indoor' or 'outdoor'  
  fps: 30                                        # desired rate of the dataset



MCAP_DATASET:
  type: mcap 
  #
  #
  sensor_type: rgbd # Here, 'sensor_type' can be 'mono', 'stereo', or 'rgbd' depending on the ros1bag content  
  base_path: /home/luigi/Work/datasets/rgbd_datasets/tum/rgbd_dataset_freiburg1_room/    # path of the folder containing the bag
  name: rgbd_dataset_freiburg1_room.ros2.mcap                                             # file name of the mcap file
  settings: settings/TUM1.yaml                  # do not forget to correctly set the corresponding camera settings file
  ros_settings:
    sync_queue_size: 100                               # for syncing the messages with the ApproximateTimeSynchronizer
    sync_slop: 0.05                                    # in seconds: delay with which messages can be synchronized
    depth_factor: 1.0                                  # (optional) scale factor for depth images if available, normally managed by camera settings
    convert_color_rgb2bgr: False                       # (optional) convert RGB to BGR for color images
    topics: 
      color_image: '/camera/rgb/image_color'       # left color image
      #right_color_image: '/camera/rgb/image_left' # used for stereo datasets
      depth_image: '/camera/depth/image'           # used for rgbd datasets
      #camera_info: '/camera/rgb/camera_info'      # TODO: override camera settings if available
  groundtruth_file: /home/luigi/Work/datasets/rgbd_datasets/tum/rgbd_dataset_freiburg1_room/simple_groundtruth.txt
  environment_type: indoor  # Here, 'environment_type' can be 'indoor' or 'outdoor'  
  fps: 30                                        # desired rate of the dataset  


# At the present time (see the README file):
# - main_vo.py cannot be used with your webcam since it requires a grountruth for recovering a correct inter-frame scale (see the README file) 
# - main_slam.py has starting having good processing capabilities (and it does NOT need grountruth data)
# If you want to use your webcam, please, record a video by using calibration/save_video.py and then use it as a VIDEO_DATASET.
LIVE_DATASET: 
  type: live 
  base_path: 
  name: /dev/video2
  settings: settings/WEBCAM.yaml 
  groundtruth_file: auto


SYSTEM_STATE: 
  # This section is used for saving and reloading the system state: Sparse map + Loop closing state  
  load_state: False                # flag to enable SLAM state reloading (map state + loop closing state) and relocalization
  folder_path: results/slam_state  # default folder path (relative to root of this repository) where the system state is saved or reloaded
 

SAVE_TRAJECTORY:
  save_trajectory: True
  format_type: kitti             # supported formats: `tum`, `kitti`, `euroc`
  output_folder: results/metrics # relative to pyslam root folder 
  basename: trajectory           # basename of the trajectory saving output


# This section allows to change and override the default values of the global parameters contained in pyslam/config_parameters.py
# In this way, this yaml configuration serves as a single entry point to configure and launch experiments. 
GLOBAL_PARAMETERS: 
  #kDoVolumetricIntegration: True
  #kVolumetricIntegrationUseDepthEstimator: True
  #kLogsFolder: /tmp/pyslam_logs       # to redirect the prints of SLAM to the set folder
  
