absl-py==1.4.0
astor==0.8.1
cycler==0.10.0
decorator==4.4.2
gast==0.3.3
google-pasta==0.2.0
grpcio==1.56.2
#h5py==2.10.0
h5py==3.11
imageio==2.34.2
importlib_metadata==8.0.0
kornia==0.7.3
kornia_moons==0.2.9
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.0.1
Markdown==3.1.1
matplotlib==3.7.5
networkx==3.1
numpy==1.23.5
ordered-set==4.1.0
pillow==10.4.0
protobuf==3.20.3
psutil==5.5.1
pybind11==2.13.1
pygame==2.6.0
pyopengl==3.1.7
pyOpenSSL==19.0.0
pyparsing==2.4.6
python-dateutil==2.8.2
pyyaml==6.0.1
scipy==1.10.1
#scikit-image==0.16.2  # ubuntu 
scikit-image==0.21.0
seaborn==0.13.2
six==1.14.0
sklearn-pandas==1.8.0
#tensorflow==2.13.1
tensorflow==2.13
termcolor==2.4.0
tf-slim==1.1.0
#torch==2.1.*         
#torchvision==0.18.1
tqdm==4.66.4
Werkzeug==3.0.6
wrapt==1.11.2
yacs==0.1.8
