absl-py==0.9.0
actionlib==1.12.0
angles==1.9.11
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
atpublic==1.0
beautifulsoup4==4.6.0
bleach==2.1.2
blinker==1.4
bondpy==1.8.3
Brlapi==0.6.6
cachetools==4.0.0
camera-calibration==1.13.0
camera-calibration-parsers==1.11.13
catkin==0.7.20
certifi==2019.11.28
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.3.7
command-not-found==0.3
controller-manager==0.15.1
controller-manager-msgs==0.15.1
coverage==4.5
cryptography==2.1.4
cupshelpers==1.0
cv-bridge==1.13.0
cycler==0.10.0
Cython==0.29.14
decorator==4.4.1
defer==1.0.6
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
distro-info===0.18ubuntu0.18.04.1
docutils==0.14
dynamic-reconfigure==1.6.0
easydict==1.9
empy==3.3.2
entrypoints==0.2.3.post1
feedparser==5.2.1
Flask==0.12.2
flufl.lock==3.2
gast==0.3.3
gazebo-plugins==2.8.6
gazebo-ros==2.8.6
gencpp==0.6.2
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.12
gennodejs==2.0.1
genpy==0.6.9
google-auth==1.10.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
html5lib==0.999999999
httplib2==0.9.2
idna==2.8
image-geometry==1.13.0
imageio==2.6.1
imgaug==0.3.0
interactive-markers==1.11.4
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.10
joblib==0.14.1
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
kazam==1.4.5
kdl-parser-py==1.13.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
kornia==0.1.4.post2
language-selector==0.1
Lasagne==0.2.dev1
laser-geometry==1.6.4
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
llvmlite==0.31.0
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.1.2
meld==3.18.0
message-filters==1.14.3
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
netifaces==0.10.4
networkx==2.4
node==0.9.24
nose==1.3.7
notebook==5.2.2
numba==0.47.0
numpy==1.18.1
oauth==1.0.1
oauthlib==3.1.0
odict==1.7.0
olefile==0.45.1
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
openni2-launch==0.4.2
pandas==0.25.3
pandocfilters==1.4.2
parse==1.14.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==7.0.0
plumber==1.5
prompt-toolkit==1.0.15
protobuf==3.11.2
psutil==5.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.4.3
pycairo==1.16.2
PyChromecast==0.8.1
pycocotools==2.0.0
pycrypto==2.6.1
pycups==1.9.73
pygame==1.9.6
Pygments==2.2.0
pygobject==3.26.1
pyinotify==0.9.6
PyJWT==1.5.3
pymacaroons==0.13.0
PyNaCl==1.1.2
PyOpenGL==3.1.5
pyOpenSSL==17.5.0
pyparsing==2.4.6
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyRFC3339==1.0
PySDL2==0.9.3
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
python-qt-binding==0.3.6
pytz==2019.3
PyWavelets==1.1.1
pyxattr==0.6.0
pyxdg==0.25
PyYAML==5.3
pyzmq==16.0.2
qt-dotgraph==0.3.16
qt-gui==0.3.16
qt-gui-cpp==0.3.16
qt-gui-py-common==0.3.16
QtPy==1.3.1
reportlab==3.4.0
requests==2.22.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
resource-retriever==1.12.5
roman==2.0.0
rosbag==1.14.3
rosboost-cfg==1.14.7
rosclean==1.14.7
roscreate==1.14.7
rosgraph==1.14.3
roslaunch==1.14.3
roslib==1.14.7
roslint==0.11.2
roslz4==1.14.3
rosmake==1.14.7
rosmaster==1.14.3
rosmsg==1.14.3
rosnode==1.14.3
rosparam==1.14.3
rospy==1.14.3
rosservice==1.14.3
rostest==1.14.3
rostopic==1.14.3
rosunit==1.14.7
roswtf==1.14.3
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.14
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.0
rviz==1.13.7
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
scour==0.36
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
sensor-msgs==1.12.7
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.13.2
six==1.14.0
sklearn==0.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
ssh-import-id==5.7
system-service==0.3
systemd-python==234
tensorboard==2.1.0
tensorboardX==2.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.15.2
termcolor==1.1.0
terminado==0.7
testpath==0.3.1
tf==1.12.0
tf-conversions==1.12.0
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
Theano==1.0.4+unknown
topic-tools==1.14.3
torch==1.4.0
torchvision==0.5.0
tornado==4.5.3
tqdm==4.41.1
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
unity-tweak-tool==0.0.7
urdfdom-py==0.4.1
urllib3==1.25.7
usb-creator==0.3.3
virtualenv==16.7.9
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5
Werkzeug==0.16.0
wrapt==1.11.2
xacro==1.13.5
xkit==0.0.0
youtube-dl==2018.3.14
zeroconf==0.19.1
zope.component==4.6
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
zope.lifecycleevent==4.3
zope.proxy==4.3.3
